.achievement{
    width: 100%;
    background-color: rgba(20, 246, 255, 0.5);
    border: rgba(41, 69, 249, 0.5) solid 10px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    
    .achievement-content{
        display: flex;
        flex-wrap: wrap;

        .experience-top{
            width: 100%;
            padding: 20px;
            display: flex;
            align-items: center;

            .experience-title{
                flex: 3;
                font-size: 30px;
                font-weight: bold;
                font-family: 'Trocchi', serif;
                align-items: center;
                text-align: center;

                &.gold{
                    color: gold;
                    
                }

                &.silver{
                    color: rgb(161, 153, 153);
                    opacity: 10;
                }

                &.bronze{
                    color: #b08d57;
                }

                &.award{
                    color: blue;
                }
            }

            .experience-company{
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .company-logo{
                    width: 50%;
                    display: flex;
                    text-align: center;
                }

                .achievement-content{
                    font-weight: 600;
                    color: darkslateblue;
                    justify-content: end;
                    text-align: right;
                    
                    .achievement-icon{
                        padding-right: 10px;
                        position: relative;
                        color: purple;
                        vertical-align: middle;
                    }

                }
            } 
        }

        .experience-info{
            width: 100%;
            padding: 10px;
            display: flex;

            .experience-content{
                display: block;
                width: 50%;
                font-size: 20px;
                font-weight: 600;
                color: darkslateblue;
                
                .experience-icon{
                    display: inline-flex;
                    padding-right: 10px;
                    color: purple;
                    vertical-align: middle;
                    position: relative;
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .achievement .achievement-content{
        .achievement-top{
            padding: 10px;
            flex-direction: column;
            .achievement-left{
                align-items: center;
                font-size: 30px;
            }
            .achievement-right{
                margin-top: 10px;
                .achievement-content{
                    justify-content: start;
                    flex-direction: row;
                }
            }
        }
    }
    
}