.dark{
    background-image: url("./img/nightBg.jpeg");
    background-size: cover;
    background-attachment: fixed;
    color: white
}

.light{
    background-image: url("./img/lightBg.jpeg");
    background-size: cover;
    background-attachment: fixed;
    color: purple;
}

.sections{
    width: 100%;
    height: calc(100% - 60px);
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    > *{
        scroll-snap-align: start;
    }
}